.logo_header {
	background: url(img/sprites.png) no-repeat -120px -229px;
	width: 131px;
	height: 25px;
}

.logo_trial {
	background: url(img/sprites.png) no-repeat -273px -99px;
	width: 85px;
	height: 100px;
}

.logo_plan {
	background: url(img/sprites.png) no-repeat -10px -231px;
	width: 89px;
	height: 96px;
}

.logo_section {
	background: url(img/sprites.png) no-repeat -11px -10px;
	width: 406px;
	height: 69px;
}

.logo_check {
	background: url(img/sprites.png) no-repeat -381px -99px;
	width: 11px;
	height: 8px;
}

.logo_review {
	background: url(img/sprites.png) no-repeat -16px -105px;
	width: 98px;
	height: 98px;
}

.logo_review_mod {
	background: url(img/sprites.png) no-repeat -146px -105px;
	width: 98px;
	height: 98px;
}

.logo_footer {
	background: url(img/sprites.png) no-repeat -272px -229px;
	width: 131px;
	height: 25px;
}